In [2]:
my_set = set()
print(my_set)
print(type(my_set))

set()
<class 'set'>

In [3]:
my_set.add(1)
my_set

{1}

In [4]:
my_set.add(2)
my_set

{1, 2}

In [6]:
my_set.add(2)
my_set

{1, 2}

In [8]:
my_set.add(3)

In [9]:
my_set.add(2)
my_set

{1, 2, 3}

In [13]:
my_list = [1, 1, 1, 2, 2, 2, 3, 3, 3]
s = set(my_list)
print(s)

{1, 2, 3}

In [14]:
len(s)

3

In [15]:
print(1 in s)
print(5 in s)

True
False

In [16]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5}

In [17]:
set1.issubset(set2)

True

In [18]:
set2.issubset(set1)

False

In [19]:
set2.issuperset(set1)

True

In [20]:
set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [24]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5}

In [22]:
set1

{1, 2, 3, 4, 5}

In [25]:
set3 =set1.intersection(set2)
set3

{1, 4}

In [27]:
set1 = {0,1,2,3,4}
set2 = {1,2,3,4,5}
set3 = set1.difference(set2)
set4 = set1.symmetric_difference(set2)
print(set3)
print(set4)

{0}
{0, 5}

In [28]:
set1.update(set2)
set1

{0, 1, 2, 3, 4, 5}

In [31]:
set1.remove(1)
print(set1)
# set1.remove(42)

{0, 2, 3, 4, 5}

In [32]:
set1.discard(2)
print(set1)
set1.discard(42)

{0, 3, 4, 5}

In [33]:
popped_out_element = set1.pop()
print(popped_out_element)

0

In [ ]:
set1.clear